<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gemini Based Chatbot</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='main.css') }}"
    />
    
</head>
  <body>
      <p>This is where you can{% block description %}{% endblock %}</p>
      <img class="slushie-gif" src="{{ url_for('static', filename='slush-slushie.gif') }}" alt="green slushie">
      <div class="container">
        <p>{% block response %}{% endblock %}</p>
      </div>
      <button ><a class="{% block linkclass %}{% endblock %}" href='{% block link %}{% endblock %}'>{% block linktext %}{% endblock %}</a></button>
      <button><a href="{% block secondarylink %}{% endblock %}">{%block secondarytext%}{% endblock %}</a></button>
  </body>
</html>