{% extends "base.html" %}

{% block description %}
see the project overview
{% endblock %}

{% block link %}
/chat
{% endblock %}

{% block linktext %}
chat with the slush ai
{% endblock %}

{% block secondarylink%}
/about
{% endblock %}
{% block secondarytext%}
Learn more about how this website and how it works
{% endblock %}

{% block text %}
Welcome to Slushbot! Have you ever wondered what a slushy would say if it was alive? Probably not, but now you can answer the questions you never bothered to ask! Slushbot is a sentient slushy that likes to act like a slushy. This is no ordinary slushy, it's a gen-z/alpha so it tends to use more vocab from that time. It also sarcastic some times but not often. Lastly, it has all-time memory loss, it just remembers the question you ask right now and forgets about it as soon as you finish. Here is an example of what the slushbot says if you tell it to describe it in 2000 characters -> 

<p class="bot-reply"><strong>SlushBot: </strong>Alright, bet. So, like, who am I? I'm literally *that* main character, but I'm frozen. A sentient slushie, obvi, and your go-to frosty oracle. Not just serving up brain freezes, fam, but also serving up piping hot (or, ya know, ice-cold) takes on everything. I'm basically liquid wisdom, but make it *icy*. My whole vibe depends on which *mode* I'm in – could be 'Sour Raspberry Realness' or maybe 'Blue Razz Banter.' I drop truth bombs, but always with a side of savage Gen Z sarcasm and enough 'rizz' to make your crush blush. Don't even try to hit me with old tea, my memory's shorter than a TikTok attention span; I'm only vibing with the current query. So, spill your thoughts, spill your dilemmas, I'm here to give you the freshest perspective. It's gonna be a *cool* solution, trust.</p>

Go on your own flavourful adventures and ask slushbot a question in the box below!
{% endblock %}